body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #f1e3c3;
    padding: 10px;
}

.header-logo {
    height: 12vh;
    margin-right: -5vw; /* Reduced margin to make it closer to h1 */
    vertical-align: middle; /* Align the logo vertically with the text */
}

.header h1 {
    margin: 0;
    color: white;
    line-height: 1;
}

.search-box {
    width: 40%;
    max-width: 46%;
    padding-left: 2%;
    padding-right: 2%;
}

.article-section {
    background-color: #fbf8ee;
    padding: 20px;
    height: 70vh;
}

.map-section {
    padding: 0; /* Remove padding */
    height: 70vh;
}

#map {
    width: 100%;
    height: 100%;
}

.timeline-section {
    background-color: #f1e3c3;
    padding: 20px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-slider {
    width: 100%;
}

.timeline-labels {
    font-weight: bold;
}


/* Remove padding from Bootstrap columns */
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.timeline-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures it stays above other elements */
    background-color: inherit; /* Keeps the background consistent */
    padding: 10px 0; /* Optional: for additional spacing */
}

.timeline-buttons .btn {
    margin: 0 5px;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #f1e3c3;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Styles for the content area to be scrollable */
.content-area {
    overflow-y: auto;
    height: calc(100% - 40px); /* Adjust as needed for your layout */
    padding: 10px;
}

/* Button active state */
.timeline-buttons .btn.active,
.timeline-buttons .btn:focus,
.timeline-buttons .btn:hover {
    background-color: #042242; /* Blue color */
    color: white;
}

